.footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  z-index: 100;
}

.footer img {
  width: 22px;
  height: 22px;
  opacity: 0.8;
  
}

.footer p {
  margin: 0;
  font-size: 22px;
  color: #333;
  font-family: 'Patrick Hand', cursive;
}

@media (max-width: 600px) {
  .footer img {
    width: 18px;
    height: 18px;
  }

  .footer p {
    font-size: 18px;
  }
}
