.app-footer {
  text-align: center;
  padding: 10px 0;
  background: linear-gradient(272deg, rgba(254, 51, 0, 1) 10%, rgba(255, 84, 0, 1) 100%);
  color: #fff;
  font-size: 14px;
  font-family: "Playpen Sans", cursive;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
