.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Push main content; footer stays bottom */
.main-content {
  flex: 1;
}

/* Footer */
.app-footer {
  text-align: center;
  padding: 10px 0;
  background: linear-gradient(
    272deg,
    rgba(254, 51, 0, 1) 10%,
    rgba(255, 84, 0, 1) 100%
  );
  color: #fff;
  font-size: 16px;
  font-family: "Playpen Sans", cursive;
  border-top: 1px solid #ddd;
  width: 100%;
  margin-top: auto;
}
